@charset "utf-8";
/* CSS Document */

#app_body {
	height: 1024px;
	width: 100%;	
}

#top_section {
	width: 880px;
	background: orange;	
}

#lbl_scene {
	margin-left: 160px;	
}

#tools {
	border: 1px solid black;
	height: 450px;
	width: 200px;
	float: left;	
}

#crash_scene {
	height: 450px;
	width: 675px;
	float: left;
	border: 1px solid black;
}

#arrow {
	height: 90px;
	width: 90px;
	background: blue;
	float: left;
	margin-left: -90px;
}

.grid {
	height: 43px;
	width: 43px;
	border: 1px solid black;
	float: left;	
}

#summary_wrapper {
	
}

#summary {
	
}

#traffic_stop {
	clear: both;	
}

#camera {
	
}


